name: Makefile CI

on:
  push:
    tags:
      - "*"

jobs:
  making:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v2.x

      - name: Make and tar binary
        id: compile_step
        run: |
          deno compile --allow-read --allow-net --allow-env --allow-run --target aarch64-apple-darwin index.ts -o pg
          tar -czvf pg.tar.gz pg
          checksum=$(sha256sum pg.tar.gz | cut -d' ' -f1)
          echo "checksum was" ${checksum}
          echo "CHSUM=${checksum}" >> "$GITHUB_ENV"

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            pg
            pg.tar.gz

      - name: Clone Homebrew Repo
        uses: actions/checkout@v4
        with:
          repository: aslak01/homebrew-stuff
          token: ${{ secrets.TAP_GITHUB_TOKEN }}
          ref: master
          path: ./brew-stuff
      - name: Configure Git for push
        run: |
          git config --global url."https://${{ secrets.TAP_GITHUB_TOKEN }}:@github.com/".insteadOf "https://github.com/"

      - name: Update Homebrew Formula
        run: |
          TAG="${GITHUB_REF#refs/tags/}"
          echo "Building formula for version: $TAG"
          echo "Compiled checksum: $CHSUM"
          mkdir -p ./brew-stuff/Formula
          # Versioned formula (pg@1.1.27.rb)
          cat > ./brew-stuff/Formula/pg@${TAG}.rb <<EOF
          class PgAT${TAG//./_} < Formula
            desc "A cli tool to search for linux distros"
            homepage "https://github.com/aslak01/pg"
            url "https://github.com/aslak01/pg/releases/download/${TAG}/pg.tar.gz"
            sha256 "$CHSUM"
            license "MIT"

            def install
              bin.install "pg"
            end
          end
          EOF

          # Main formula (pg.rb) -> always points to latest
          cat > ./brew-stuff/Formula/pg.rb <<EOF
          class Pg < Formula
            desc "A cli tool to search for linux distros"
            homepage "https://github.com/aslak01/pg"
            url "https://github.com/aslak01/pg/releases/download/${TAG}/pg.tar.gz"
            sha256 "$CHSUM"
            license "MIT"

            def install
              bin.install "pg"
            end
          end
          EOF
      - name: Push Brew formula
        run: |
          cd ./brew-stuff
          git add Formula/
          git config --local user.name github-actions
          git config --local user.email github-actions@github.com
          git commit -m "formula update pg ${GITHUB_REF#refs/tags/}" || echo "No changes to commit"
          git push origin master
