name: Makefile CI

on:
  push:
    tags:
    - '*' 

jobs:
  making:
    runs-on: ubuntu-latest
    steps:

      - name: Check out repo
        uses: actions/checkout@v4

      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v2.x

      - name: Make and tar binary
        id: compile_step
        run: |
          deno compile --allow-read --allow-net --allow-env --target aarch64-apple-darwin index.ts -o pg
          tar -czvf pg.tar.gz pg
          checksum=$(sha256sum pg.tar.gz | cut -d' ' -f1)
          echo "checksum was" ${checksum}
          echo "CHSUM=${checksum}" >> "$GITHUB_ENV"

      - name: Release
        uses: softprops/action-gh-release@v1
        with: 
          files: |
            pg
            pg.tar.gz

      - name: Clone Homebrew Repo
        uses: actions/checkout@v4
        with:
          repository: aslak01/homebrew-stuff
          token: ${{ secrets.TAP_GITHUB_TOKEN }}
          ref: master
          path: ./brew-stuff

          # source link:
        # https://github.com/aslak01/pg/archive/refs/tags/1.1.27.tar.gz

      - name: Update Homebrew Formula
        run: |
          echo "compiled checksum": $CHSUM
          echo "class Pg < Formula" >> pg.rb
          echo '  desc "A cli tool to search for linux distros"' >> pg.rb
          echo '  homepage "https://github.com/aslak01/pg"' >> pg.rb
          echo '  url "https://github.com/aslak01/pg/releases/download/'${GITHUB_REF#refs/tags/}'/pg.tar.gz"' >> pg.rb
          echo '  sha256 "'"$CHSUM"'"' >> pg.rb
          echo '  license "MIT"' >> pg.rb
          echo "" >> pg.rb
          echo "  def install" >> pg.rb
          echo '    bin.install "pg"' >> pg.rb
          echo "  end" >> pg.rb
          echo "end" >> pg.rb
          cp pg.rb ./brew-stuff/Formula/

      - name: Push Brew formula
        run: |
          cd ./brew-stuff
          git add .
          git config --local user.name github-actions
          git config --local user.email github-actions@github.com
          git commit -am "formula update pg ${GITHUB_REF#refs/tags/}"
          git push

